# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fireball specials
*.log
*.x
*.xsf
.project
.svn
*~
results
*.DS_Store
autom4te.cache
src/a.GLOBAL
src/b.FUNCTIONS
src/c.SYSTEM
src/f.MPI
src/g.XC_FUNCTIONALS
src/include
src/j.ASSEMBLERS
src/libs
src/MACHINES
src/Makefile.in
src/o.OUTPUT
src/p.THEORY
